.input{
    width: 40em;
}
textarea{
    width: 100%
}
.description{
    font-size: 0.8em;
    color: #333;
    width: 40em;
}
.directions{
    padding-top: 0em;
    margin-top: 0em;
    font-size: 0.7em;
    color: #999;
}